.back-btn {
  position: absolute;
}

@mixin module {
  padding: 10px;
  position: absolute !important;
  top: 60px;
  width: 400px !important;
  height: 700px !important;
  background: rgba(0, 21, 62, 0.70);
  color: #FFF;
  z-index: 12;
}

.module--left {
  @include module;
  left: 20px;
}

.module--right {
  @include module;
  right: 20px;
}