.back-btn {
  @include flex-center;
  position: absolute;
  top: 170px;
  left: 20px;
  width: 200px;
  height: 56px;
  background: $btnBgColor;
  border-radius: 4px;
  border: 1px solid #4F9EFD;
}

.test-btn {
  @include flex-center;
  width: 200px;
  height: 56px;
  border: 1px solid #4F9EFD;
}

.touchable {
  cursor: pointer;
}

@mixin module {
  padding: 10px;
  position: absolute !important;
  top: 60px;
  width: 400px !important;
  height: 700px !important;
  background: $defaultBgColor;
  color: #FFF;
  z-index: 12;
}

.module--left {
  @include module;
  left: 20px;
}

.module--right {
  @include module;
  right: 20px;
}